<div class="container">
    <div class="row">
        <img id="burgerImage" src="\assets\images\burgerimage.png">
        <br></br>
    </div>
    <div class="row">
        <h1>Eat-Da-Burger!</h1>
        <br></br>
    </div>
    <div class="row">
        <div class="col-6">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    <p>
                        {{id}}. {{name}}

                        <button data-burgerid="{{this.id}}" class="delburger">Devour Burger!</button>
                    </p>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    <p>
                        {{id}}. {{name}}
                    </p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <br></br>
    <div class="row justify-content-center">
        <div class="col-4"></div>
        <div class="col-4">
            <form id="createburger" class="button-size">
                <textarea type="text" name="burger"></textarea>
                <br></br>
                <button type="submit">Submit</button>
            </form>
            <h3>Create a Burger You Want to Eat and Hit Submit</h3>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<script src="./assets/js/script.js">
   
</script>